<div class="container">
  <div class="navbar bg">
    <div class="guild-channel-name">
      <i-feather name="hash"></i-feather>
      <h3 class="name">general</h3>
    </div>

    <div class="icons-and-search-box">
      <i-feather name="message-square"></i-feather>
      <i-feather name="bell"></i-feather>
      <i-feather name="feather"></i-feather>
      <i-feather name="users"></i-feather>
      <div class="search-input">
        <input type="text" placeholder="Search" />
        <i-feather class="f-icon f-search" name="search"></i-feather>
      </div>
      <i-feather name="mail"></i-feather>
      <i-feather name="help-circle"></i-feather>
    </div>
  </div>
</div>
