.container {
  width: 100%;
  height: 100%;
}

.bg {
  background-color: #36393f;
}

.navbar {
  color: #b9bbbe;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.guild-channel-name {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.icons-and-search-box {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #202225;
  border-radius: 5px;
  height: 24px;
  width: 120px;
}

.search-input > input {
  color: white;
  padding-left: 5px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.f-search {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #72767b;
}
