<div class="container row bg">
  <div class="users">
    <div class="users-online">
      <p>ONLINE - <span>1</span></p>
      <ul>
        <li class="user">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
      </ul>
    </div>

    <div>
      <p>OFFLINE - <span>1</span></p>
      <ul class="users-offline">
        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>

        <li class="user-offline">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
      </ul>
    </div>
  </div>
</div>
