<div class="container bg">
  <div class="users">
    <div>
      <p>ONLINE - <span>1</span></p>
      <ul class="users-online">
        <li class="user">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
      </ul>
    </div>

    <div>
      <p>OFFLINE - <span>1</span></p>
      <ul class=" users-offline">
        <li class="user">
          <img class="avatar" src="assets/bob.png" />
          <p>David</p>
        </li>
      </ul>
    </div>
  </div>
</div>
