.container {
  padding-left: 10px;
}

.bg {
  background-color: #2f3136;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.users {
  color: #72767b;
  font-weight: 600;
  font-size: 0.8rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  width: 218px;
  align-items: center;
  justify-items: flex-start;
  gap: 10px;
  cursor: pointer;
  padding: 0 0 0 10px 5px;
}

.user:hover {
  background-color: rgba(255, 255, 255, 3%);
  border-radius: 8px;
  color: white;
  opacity: 1;
}

.user-offline {
  opacity: 0.3;
}

.user-offline:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 3%);
  border-radius: 8px;
  color: white;
}

.user-online {
  opacity: 1;
}

.users-online {
  padding-top: 10px;
}
