<div class="container bg">
  <div class="messages">
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <div class="author">
          <img class="avatar" src="assets/bob.png" />
          <div class="meta">
            <p class="username">David</p>
            <p class="first-timestamp">21/02/2021</p>
          </div>
        </div>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>
            This is a test message. trying toi d sad asd sad sad sad asd n
            jnfgjf jkfd sdjf skdf jsdkf jsdkf jdskfjsdk j
          </p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
    <div class="message">
      <div class="strike">
        <span>21 February 2022</span>
      </div>
      <ul>
        <li class="first-message-from-author">
          <div class="author">
            <img class="avatar" src="assets/bob.png" />
            <div class="meta">
              <p class="username">David</p>
              <p class="first-timestamp">21/02/2021</p>
            </div>
          </div>
        </li>

        <li class="message">
          <p class="timestamp">14:15</p>
          <p>This is a the first message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:16</p>
          <p>fdfdsfs d fsd sdf dfs sdf sdf sd sd ddd d d d d d d</p>
        </li>

        <li class="message">
          <p class="timestamp">14:17</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>

        <li class="message">
          <p class="timestamp">14:18</p>
          <p>This is a test message.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="sticky-input-message">
    <div class="message-input">
      <i-feather class="f-icon plus-circle" name="plus-circle"></i-feather>
      <input type="text" placeholder="Message #" />
    </div>
  </div>
</div>
