<div class="container dark-gray-bg">
  <div class="server-name">
    <h1>David's server</h1>
  </div>

  <div class="server-channels">
    <div class="server-channel-header">
      <i-feather class="f-icon" name="chevron-down"></i-feather>
      <p>TEXT CHANNELS</p>
      <i-feather class="f-icon channel-add" name="plus"></i-feather>
    </div>

    <ul>
      <li class="server-channel-header">
        <i-feather class="f-icon" name="hash"></i-feather>
        <p>general</p>

        <div class="text-channel-actions">
          <i-feather class="f-icon f-icon-fill" name="user-plus"></i-feather>
          <i-feather class="f-icon" name="settings"></i-feather>
        </div>
      </li>
    </ul>

    <div class="server-channel-header">
      <i-feather class="f-icon" name="chevron-down"></i-feather>
      <p>VOICE CHANNELS</p>
      <i-feather class="f-icon channel-add" name="plus"></i-feather>
    </div>

    <ul>
      <li class="server-channel-header">
        <i-feather class="f-icon f-icon-fill" name="volume-2"></i-feather>
        <p>General</p>
      </li>
    </ul>
  </div>

  <div class="voice-connected">
    <div class="voice-channel-info">
      <div class="voice-channel-info-text">
        <h3>Voice Connected</h3>
        <p>General / David's server</p>
      </div>

      <div class="voice-channel-actions">
        <button class="btn btn-video">
          <i-feather class="f-icon" name="video"></i-feather><span>Video</span>
        </button>
        <button class="btn btn-screen">
          <i-feather class="f-icon" name="monitor"></i-feather
          ><span>Screen</span>
        </button>
      </div>
    </div>

    <div>
      <div class="user-info">
        <div>
          <img src="assets/bob.png" />
          <div class="status"></div>
          <div class="status-inner"></div>
        </div>
        <div class="user-details">
          <p class="user-name">david</p>
          <p class="user-id">#1234</p>
        </div>
        <div class="user-actions">
          <i-feather class="f-icon" name="mic"></i-feather>
          <i-feather class="f-icon" name="headphones"></i-feather>
          <i-feather class="f-icon" name="settings"></i-feather>
        </div>
      </div>
    </div>
  </div>
</div>
