.dark-gray-bg {
  background-color: #2f3136;
}

.server-name {
  display: flex;
  align-items: safe center;
  color: white;
  font-size: 0.5rem;
  height: 57px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 30%);
  padding-left: 48px;
  flex-shrink: 0;
}

.server-channels {
  color: #8e9293;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 9.6px;
  overflow-y: auto;
  overflow-x: hidden;
}

.server-channel-header {
  display: flex;
  align-items: center;
  gap: 4.8px;
  height: 31px;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 16px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

li:hover {
  background-color: rgba(255, 255, 255, 3%);
  border-radius: 8px;
  color: white;
}

li > p {
  margin-left: 8px;
}

.channel-add {
  padding-left: 96px;
}

.text-channel-actions {
  display: flex;
  margin-left: auto;
  font-size: 0.7rem;
  gap: 16px;
  padding-right: 8px;
}

.user-info {
  background-color: #292b2f;
  height: 60px;
  width: 250px;
  color: #8e9293;
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-avatar-status {
  margin-left: 10px;
}

.user-name {
  color: white;
  font-weight: 700;
}

.user-id {
  font-size: 16px;
  font-weight: 400;
}

.user-actions {
  margin-left: auto;
  display: flex;
  gap: 1.2em;
  padding: 8px;
}

.user-actions-settings {
  padding-right: 8px;
}

.voice-connected {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: auto;
  flex-shrink: 0;
}

.voice-channel-info-text {
  display: flex;
  color: white;
  flex-direction: column;
}

.voice-channel-info {
  background-color: #292b2f;
  padding-left: 8px;
}

.voice-channel-actions {
  display: flex;
  padding: 4px;
}

.btn-video {
  display: flex;
  align-items: safe center;
}

.btn-screen {
  display: flex;
  align-items: safe center;
}

.chevron {
  font-size: 0.5rem;
}

.add-to-channel {
  margin-left: auto;
  padding-right: 8px;
}

.add-to-channel > .im-plus {
  font-size: 0.7rem;
}

.f-icon {
  height: 24px;
  width: 24px;
}
