<div class="container dark-gray-bg">
  <div class="server-name">
    <h1>David's server</h1>
  </div>

  <div class="server-channels">
    <div class="server-channel-header">
      <button><i class="chevron im im-angle-down"></i></button>
      <p>TEXT CHANNELS</p>
      <button class="add-to-channel"><i class="im im-plus"></i></button>
    </div>

    <ul>
      <li class="server-channel-header">
        <i class="im im-hashtag"></i>
        <p>general</p>

        <div class="text-channel-actions">
          <button><i class="im im-users"></i></button>
          <button><i class="im im-gear"></i></button>
        </div>
      </li>
    </ul>

    <div class="server-channel-header">
      <button><i class="chevron im im-angle-down"></i></button>
      <p>VOICE CHANNELS</p>
      <button class="add-to-channel"><i class="im im-plus"></i></button>
    </div>

    <ul>
      <li class="server-channel-header">
        <i class="im im-volume"></i>
        <p>General</p>
      </li>
    </ul>
  </div>

  <div class="voice-connected">
    <div class="voice-channel-info">
      <!-- <div class="voice-channel-info-text">
        <h4>Voice Connected</h4>
        <p>General / David's server</p>
      </div> -->

      <!-- <div class="voice-channel-actions">
        <button class="btn btn-video">
          <i-feather class="f-icon" name="video"></i-feather><span>Video</span>
        </button>
        <button class="btn btn-screen">
          <i-feather class="f-icon" name="monitor"></i-feather
          ><span>Screen</span>
        </button>
      </div> -->
    </div>

    <div class="user-info">
      <div>
        <img src="assets/bob.png" />
        <div class="status"></div>
        <div class="status-inner"></div>
      </div>
      <div class="user-details">
        <p class="user-name">david</p>
        <p class="user-id">#1234</p>
      </div>
      <div class="user-actions">
        <button><i class="im im-microphone"></i></button>
        <button><i class="im im-headphones"></i></button>
        <button><i class="im im-gear"></i></button>
      </div>
    </div>
  </div>
</div>
