.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.col-side-menu {
  width: 100px;
}

.col-guild-side-menu {
  width: 250px;

}

.col-guild-chat {
  width: 1500px;

}

.col-guild-members {
  width: 250px;
}


