.container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-shrink: 0;
  width: 1750px;
}

.guild-navbar {
  width: 1400px;
}

.guild-navbar-chat-members {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.chat-members {
  display: flex;
  width: 1400px;
}

.col-guild-chat {
  width: 1200px;
}

.col-guild-members {
  width: 200px;
}


input:focus {
  outline: none;
}

input::placeholder {
  color: #6a6e75;
}
