<div class="navbar bg">
  <div class="guild-channel-name">
    <i-feather name="hash"></i-feather>
    <h3 class="name">general</h3>
  </div>

  <div class="icons-and-search-box">
    <button class="btn">
      <i class="im im-hashtag"></i>
    </button>

    <button class="btn">
      <i class="im im-bell"></i>
    </button>

    <button class="btn">
      <i class="im im-pin"></i>
    </button>

    <button class="btn">
      <i class="im im-users"></i>
    </button>

    <div class="search-input">
      <input type="text" placeholder="Search" />
      <i-feather class="f-icon f-search" name="search"></i-feather>
    </div>

    <button class="btn">
      <i class="im im-inbox"></i>
    </button>

    <button class="btn">
      <i class="im im-question"></i>
    </button>
  </div>
</div>
