<div class="container dark-grey-bg">
  <div class="side-menu">
    <div class="icon light-grey-bg border-radius text-center" id="logo">
      <img class="logo" src="assets/discord-logo.svg" />
    </div>

    <hr class="hr" />

    <div class="icon border-radius">
      <img class="img" src="assets/bob.png" />
    </div>

    <div class="icon light-grey-bg text-center border-radius active no-img">
      ps
    </div>
    <div class="icon light-grey-bg text-center border-radius no-img">ps</div>
    <div class="icon light-grey-bg text-center border-radius no-img">ps</div>
    <div class="icon light-grey-bg text-center border-radius no-img">ps</div>

    <div class="icon light-grey-bg text-center text-color-green border-radius">
      <i-feather name="plus"></i-feather>
    </div>

    <div class="icon light-grey-bg text-center text-color-green border-radius">
      <i-feather name="compass"></i-feather>
    </div>
  </div>
</div>
